.login {
    width: 100%;
    height: auto;
    /*background-color: yellow;*/
    padding: 50px 17%;
    box-sizing: border-box;
}
.sign-in {
    /*background-color: yellow;*/
    display: flex;
    justify-content: center;
}